<form>
<label for="number">APR</label>
<input id="number" type="text" placeholder="E.g. 5.42" name="user" >
<label for="number">Number of years</label>
<input id="number" type="text" placeholder="How many years to repay?" name="user" >
<label for="number">Principal</label>
<input id="number" type="text" placeholder="How much principal?" name="user">

<button>Calculate montly payment</button>
</form>
