<form action="/payment/results">

<label for="apr_number">APR</label>
<input id="apr_number" type="text" placeholder="E.g. 5.42" name="user_apr" >

<label for="year_number">Number of years</label>
<input id="year_number" type="text" placeholder="How many years to repay?" name="user_years" >

<label for="pv_number">Principal</label>
<input id="pv_number" type="text" placeholder="How much principal?" name="user_pv">

<button>Calculate monthly payment</button>
</form>
