<form action="/square_root/results">
<label for="number">Enter a number</label>
<input id="number" type="text" placeholder="What number do you want the square root?" name="user">
<button>Calculate square root</button>
</form>
